
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .body {
    
    font-family: Helvetica, Arial, sans-serif;
    
    
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  .header {
    padding: 20px 20px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    background-image: url("../image/21_zoom-pride-pack_01.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .header h1 {
    font-weight: bold;
    font-size: 40px;
    font-style: Verdana;
    text-shadow: 4px 4px salmon;
    background-color: rgb(211, 236, 142);
    border: solid;
    
  }
  
  .header a {
    text-decoration: none;
    color: #fce138;
    
   
  }
  
 
  .header section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .header section ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 1px 1px lightgrey;
    
  }

 
  
  .header section ul li a:hover {
    background: #fce138;
    color:#024e76; 
    border-radius: 15px;
    text-shadow: 4px 4px lightcoral;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 10px;
  }
  
  /* CONTENT & HERO STYLES START */
  
  
  .subtitle {
    background-image: url('../image/21_zoom-pride-pack_01.jpg');
    background-size: cover;
    
    background-attachment: fixed;
    background-position: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    
  }
    
  
  .hero-form {
    
    border: 1px solid var(--secondary-color);
    display: block;
    
    padding: 7px 15px;
    font-size: 16px;
    color: rgb(248, 156, 51);
    width: 100%;
    margin-bottom: 15px; 
    background-color: rgb(61, 63, 55);
    
  }
  /* CONTENT & HERO STYLES END */
  
 /* MAIN-CONTENT STYLES START */

  .main-content {
  background-color: ghostwhite;
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
    
  }
/* MAIN-CONTENT STYLES END */
  

  /* INTRO STYLES START */


  .intro {
    display: flex;
    flex-direction: row;
    background-color: 
  }
  
  .intro h2 {
    flex: 1 10%;
    color: indianred;
    font-size: 26px;

  }

  .intro p {
    line-height: 3;
    flex: 2 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
            width: 80%;
            margin: 0 auto;
            font-size: 20px;
            text-align: left;
            border-left: 2px solid indianred;
            
  }

  /* INTRO STYLES END */
  
  /* WORK STYLES START */

.work {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.work h2 {
  flex: 1 10%;
  color: indianred;
  font-size: 26px;

}


.work p {
  line-height: 3;
  flex: 2 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
            width: 80%;
            margin: 0 auto;
            font-size: 20px;
  text-align: center;
            border-left: 2px solid indianred;
            
}

  /* WORK STYLES END */

 /* CONTACT STYLES START */
 .contact {
  display: flex;
  flex-direction: row;
  
  margin-top: 10px;
 }


.contact h2 {
  flex: 1 10%;
  color: indianred;
  font-size: 26px;
  
}


 .contact p {
  line-height: 3;
  flex: 2 90%;
  align-items: center;
            
            width: 80%;
            margin: 0 auto;
            font-size: 20px;
            text-align: center;
            border-left: 2px solid indianred;
            

}


/* CONTACT STYLES END */

/* RESUME STYLES START */
.resume {
  display: flex;
  flex-direction: row;
  
  margin-top: 10px;

}


.resume h2 {
  flex: 1 10%;
  color: indianred;
  font-size: 26px;
  
}

.resume p {
  border-left: 2px solid indianred;
  line-height: 3;
  flex: 2 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  background-image: url(../image/Screenshot\ 2021-06-25\ 180002.jpg);
  background-position: 100%;
  height: 500px;
}


/* RESUME STYLES END */



 /* FOOTER STYLES START */
 .footer {
  
 
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  background-color: ghostwhite;
  
 
  
}

.footer h4 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
  text-align: end;
  color: #fce138;
  
}

.footer div {
  height: 30px;
  text-align: right;
  
}

/* END FOOTER STYLES */
  
  
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
  
  
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .main-content {
      flex: 1 100%;
      text-align: center;
    }
  
    .intro {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .work {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .contact {
      flex: 100%;  
    }
  
    .resume {
      display: block;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }
  